{% extends 'back_base.html.twig' %}

{% block title %}Link index{% endblock %}

{% block content %}
    <h1>Link index</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Website</th>
                <th>Url</th>
                <th>Name</th>
                <th>ImageUrl
                <th>User</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for link in links %}
            <tr>
                <td>{{ link.id }}</td>
                <td>{{ link.website }}</td>
                <td>{{ link.url }}</td>
                <td>{{ link.name }}</td>
                <td>{{ link.imageUrl }}</td>
                <td>{{ link.user.email }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('back_link_show', {'id': link.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('back_link_edit', {'id': link.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('back_link_new') }}">Create new</a>
{% endblock %}
