{% extends 'front_base.html.twig' %}

{% block title %}Recherche - {{ parent() }}{% endblock %}

{% block header %}
    {{ include('_header_dashboard.html.twig') }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-4 mb-4">
            <div class="col-lg-10 offset-1">
                <h1 class="h1">Recherche de profils</h1>
                    {{ form_start(form) }}
                        {{ form_row(form.user_research) }}
                    {{ form_end(form) }}

                <table id="search_page_table" class="table table-striped display mt-5 mb-5">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Localisation</th>
                        <th>Prog Languages</th>
                        <th>Sexe</th>
                        <th>Statut</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for profile in profileList %}
                        <tr>
                            <td><img src="{{ asset('/images/profilePictures/'~profile.profilePicture) }}" class="img-rounded mt-2" width="70" height="70" alt="Profile Picture"></td>
                            <td>{{ profile.lastname }} {{ profile.firstname }}</td>
                            <td>{{ profile.city | default("-") }} ({{ profile.cityCode }})</td>
                            <td>
                                {% for element in profile.userProgLanguages %}
                                    {{ element }}
                                {% endfor %}
                            </td>
                            <td>{{ profile.sexe | default("-") }}</td>
                            <td>{{ profile.status | default("-") }}</td>
                            <td><a class="btn btn-link" target="_blank"
                                   href="{{ path('app_profilView', {'spaceName': profile.spaceName}) }}">{{ profile.spaceName }}</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Aucun resultat</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('search_pages_datatables.js') }}"></script>
{% endblock %}