{% extends 'back_base.html.twig' %}

{% block title %}UserSociety index{% endblock %}

{% block content %}
    <h1>UserSociety index</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>User</th>
            <th>Society</th>
            <th>Job Type</th>
            <th>FirstDate</th>
            <th>LastDate</th>
            <th>IsActive</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user_society in user_societies %}
            <tr>
                <td>{{ user_society.id }}</td>
                <td>{{ user_society.user.email }}</td>
                <td>{{ user_society.society.name }}</td>
                <td>{{ user_society.jobType.label }}</td>
                <td>{{ user_society.firstDate ? user_society.firstDate|date('Y-m-d') : '' }}</td>
                <td>{{ user_society.lastDate ? user_society.lastDate|date('Y-m-d') : '' }}</td>
                <td>{{ user_society.isActive ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary"
                       href="{{ path('back_user_society_show', {'id': user_society.id}) }}">show</a>
                    <a class="btn btn-primary"
                       href="{{ path('back_user_society_edit', {'id': user_society.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
