{% extends 'back_base.html.twig' %}

{% block title %}UserSociety{% endblock %}

{% block content %}
    <h1>UserSociety</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user_society.id }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>{{ user_society.user.email }}</td>
        </tr>
        <tr>
            <th>Society</th>
            <td>{{ user_society.society.name }}</td>
        </tr>
        <tr>
            <th>Job Type</th>
            <td>{{ user_society.jobType.label }}</td>
        </tr>
        <tr>
            <th>FirstDate</th>
            <td>{{ user_society.firstDate ? user_society.firstDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>LastDate</th>
            <td>{{ user_society.lastDate ? user_society.lastDate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>IsActive</th>
            <td>{{ user_society.isActive ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('back_user_society_index') }}">back to list</a>
    <br>
    <a href="{{ path('back_user_society_edit', {'id': user_society.id}) }}">edit</a>
{% endblock %}
