{% extends 'security/security_base.html.twig' %}

{% block title %}Log in - {{ parent() }}{% endblock %}

{% block head_css %}
    {{ encore_entry_link_tags('app_login') }}
{% endblock %}

{% block content %}
    <div class="container row mt-5">
        <form method="post" class="text-light border border-secondary rounded p-5 offset-lg-4 col-lg-4">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

            <label for="inputEmail" class="">Email</label>
            <input type="email" value="{{ last_username }}" name="_username"
                   id="inputEmail" class="form-control"
                   required autofocus>

            <label for="inputPassword" class="mt-3">Password</label>
            <input type="password" name="_password" id="inputPassword"
                   class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-sm btn-primary mt-3 mb-3" type="submit">
                Sign in
            </button>
            <a href="{{ path('app_security_forgot_password') }}">
                <button class="btn btn-sm btn-outline-primary mt-3 mb-3" type="button">
                    Forgot password
                </button>
            </a>
            <br />
            <a class="link text-primary" href="{{ path('app_security_register_professional') }}">
                    Obtenir un compte PRO !
            </a>
        </form>
    </div>
{% endblock %}