{% extends 'security/security_base.html.twig' %}

{% block title %}Register - {{ parent() }}{% endblock %}

{% block head_css %}
    {{ encore_entry_link_tags('app_login') }}
{% endblock %}

{% block content %}
    <div class="container row mt-5">
        <div class="text-light border border-secondary rounded p-5 mx-auto">
            <h1 class="h3 mb-3 font-weight-normal">Register for free !</h1>
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            {{ form_row(form.email) }}
            {{ form_row(form.spaceName) }}
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.password.first) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.password.second) }}
                </div>
            </div>
            <button class="btn btn-sm btn-outline-primary" type="submit">S'inscrire</button>

            {{ form_end(form) }}
            <a href="{{ path('app_security_register_professional') }}">
                <button class="btn btn-sm btn-outline-primary mt-3" type="button">
                    S'inscrire en tant que PRO !
                </button>
            </a>
        </div>
    </div>
{% endblock %}