{% extends 'security/security_base.html.twig' %}

{% block title %}Sign up - CVBien{% endblock %}

{% block head_css %}
    {{ encore_entry_link_tags('app_login') }}
{% endblock %}

{% block content %}
    <div class="container row mt-5">
        <div class="text-light border border-secondary rounded p-5 mx-auto">
            <h1 class="h3 mb-3 font-weight-normal">Please register :D</h1>
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            {{ form_row(form.email) }}
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.password.first) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.password.second) }}
                </div>
            </div>
            <button class="btn btn-sm btn-outline-primary" type="submit">S'inscrire</button>
            <div id="paypal-button-container"></div>

            {{ form_end(form) }}
            <script src="https://www.paypal.com/sdk/js?client-id=AVTpbY5bZ9aU1QYVTUCgEr1kbL3PIlOs65LiiYCY6kRh20RZIPwUd6x8FvQUVpi4J8-mx5S4A2W29jZp"></script>
            <script>paypal.Buttons().render('#paypal-button-container');</script>
        </div>
    </div>
{% endblock %}