{% extends 'back_base.html.twig' %}

{% block title %}UserProject{% endblock %}

{% block content %}
    <h1>UserProject</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user_project.id }}</td>
        </tr>
        <tr>
            <th>UrlProject</th>
            <td>{{ user_project.urlProject }}</td>
        </tr>
        <tr>
            <th>UrlWebsite</th>
            <td>{{ user_project.urlWebsite }}</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>
                <ul>
                    {% for language in user_project.progLanguages %}
                        <li>{{ language.name }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Technologies</th>
            <td>
                <ul>
                    {% for technology in user_project.progTechnologies %}
                        <li>{{ technology.label }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Technologies</th>
            <td>{{ user_project.urlWebsite }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>{{ user_project.user.email }}</td>
        </tr>
        <tr>
            <th>Society</th>
            <td>{% if user_project.userSociety.society.name is defined %}{{ user_project.userSociety.society.name }} {% endif %}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('back_user_project_index') }}">back to list</a>
    <br>
    <a href="{{ path('back_user_project_edit', {'id': user_project.id}) }}">edit</a>

{% endblock %}
