{% extends "front_base.html.twig" %}

{% block title %}Dashboard - CVBien{% endblock %}

{% block content %}
    {% if user is defined %}
        <p>{{ user.firstname }}</p>
        <p>{{ user.adress }}</p>
        <input id="updateProfilePictureLink" name="updateProfilePictureLink" type="hidden" value="{{ path('front_user_updateProfilePicture') }}">
        <input id="updateBannerLink" name="updateBannerLink" type="hidden" value="{{ path('front_user_updateBanner') }}">
        <input id="userId" name="userId" type="hidden" value="{{ user.id }}">
        <img id="profilePicture" src="{{ vich_uploader_asset(user, 'imageFile') }}"/>
        <button onclick="initCropBanner()" class="btn" data-toggle="modal" data-target="#bannerModal">Modifer Avatar</button>
        <button onclick="initCropProfile()" class="btn" data-toggle="modal" data-target="#profilePictureModal">Modifer Avatar</button>
        <div id="profilePictureModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modifier ma photo de profil</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input class="btn" type="file" id="inputPicture" value="Choose Image" accept="image/*">
                        <div id="main-cropper"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="cropSave" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="bannerModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modifier ma photo de profil</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input class="btn" type="file" id="inputPicture" value="Choose Image" accept="image/*">
                        <div id="banner-cropper"></div>
                        <input id="updateProfilePictureLink" name="updateProfilePictureLink" type="hidden" value="{{ path('front_user_updateProfilePicture') }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="cropBannerSave" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}