{% extends 'front_base.html.twig' %}

{% block title %}Comptes annexes - {{ parent() }}{% endblock %}

{% block header %}
    {{ include('_header_dashboard.html.twig') }}
{% endblock %}

{% block content %}
    <div class="container-fluid ">
        <div class="row mt-4 mb-4">
            {{ include('Front/user/_user_info_menu.html.twig') }}
            <div class="col-8">
                <h1>Liste des comptes</h1>
                <div class="mt-5">
                    <button type="button" class="btn btn-secondary text-white mr-3" data-toggle="modal"
                            data-target="#exampleModalCenter">
                        <i class="fab fa-github mr-2"></i>Compte Github
                    </button>
                    <a class="btn text-white mr-3" style="background-color: #1da1f2"><i class="fab fa-twitter mr-2"></i>Compte
                        Twitter</a>
                    <a class="btn text-white mr-3" style="background-color: #F48024"><i
                                class="fab fa-stack-overflow mr-2"></i>Compte Stack overflow</a>
                    <a class="btn btn-success" href="{{ path('front_link_new') }}"><i class="fas fa-link mr-2"></i>Autres
                        comptes</a>
                </div>
                <table class="table display mt-5 mb-5">
                    <thead>
                    <tr>
                        <th>Website</th>
                        <th>Url</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for link in links %}
                        <tr>
                            <td>{{ link.website }}</td>
                            <td>{{ link.url }}</td>
                            <td>{{ link.name }}</td>
                            <td>{{ link.username }}</td>
                            <td>
                                <button class="btn-sm btn-primary"><a class="btn-primary"
                                                                      href="{{ path('front_link_edit', {'id': link.id}) }}">Editer</a>
                                </button>
                            </td>
                            <td>{{ include('Front/link/_delete_form.html.twig') }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {# MODAL Github#}
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ajout d'un compte GitHub</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label for="id-gh-input">Entrez votre identifiant GitHub svp :)</label>
                            <input class="form-control" type="text" name="Nickname" id="id-gh-input">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}