{% extends 'back_base.html.twig' %}

{% block title %}UserDiploma{% endblock %}

{% block content %}
    <h1>UserDiploma</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user_diploma.id }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>{{ user_diploma.user.email }}</td>

        </tr>
        <tr>
            <th>Diploma</th>
            <td>{{ user_diploma.diploma.title }}</td>
        </tr>
        <tr>
            <th>DateOfGrant</th>
            <td>{{ user_diploma.dateOfGrant ? user_diploma.dateOfGrant|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Mention</th>
            <td>{{ user_diploma.mention }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('back_user_diploma_index') }}">back to list</a>
    <br>
    <a href="{{ path('back_user_diploma_edit', {'id': user_diploma.id}) }}">edit</a>

{% endblock %}
