{% extends 'base.html.twig' %}

{% block title %}CV Bien{% endblock %}

{% block head_css %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/landing.css') }}"/>
{% endblock %}


{% block body %}
    <div class="main" style="background-image: url('{{ asset('build/bg_login.jpg') }}')">
        <div class="cover black" data-color="black"></div>
        <div class="container">
            <h1 class="logo">Curivitae</h1>
            <div class="content">
                <h3 class="text-center text-light">LE CV EN LIGNE, TOUT SIMPLEMENT.</h3>
                <h4 class="text-center text-light mb-2">
                    Pas le temps de coder votre propre site ? Lassé de Linkedin et Tumblr ?
                    Notre site vous permet de créer rapidement votre propre espace personnel,
                    entièrement customizable et intégrant des modules variés comme GitHub, StackOverflow,
                    CodePen, JSFiddle, et bien d'autres !
                </h4>
                <div class="row">
                    <div class="card bg-dark text-light m-5 mx-auto" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('build/developper_iconic.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title mb-1">Pour les developpeurs</h6>
                            <p class="card-text">Créez votre compte gratuitement, pour pouvoir profiter de notre outil de création de CV
                                pensé spécialement pour les métiers de l'informatique et du numérique</p>
                        </div>
                    </div>
                    <div class="card bg-dark text-light m-5 mx-auto" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('build/iconic_office_woman.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title mb-1">Pour les recruteurs</h6>
                            <p class="card-text">Souscrivez à un compte premium pour avoir directement accès à nos milliers de profils.
                                Vous profiterez de notre recherche avancée intelligente pour trouver votre prochain talent !</p>
                        </div>
                    </div>
                    <div class="card bg-dark text-light m-5 mx-auto" style="width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-title mb-3">Accèdez à notre outil</h6>
                            <p>Vous avez déjà un compte ?</p>
                            <a href="{{ path('app_security_login') }}" class="btn btn-outline-primary">Login</a>
                            <p class="mt-3">Créez un compte en 2minutes !</p>
                            <a href="{{ path('app_security_login') }}" class="btn btn-outline-info">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container">
                CVBien app - 2019
            </div>
        </div>
    </div>
{% endblock %}