{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block head_css %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/landing.css') }}"/>
{% endblock %}


{% block body %}
    <div class="main" style="background-image: url('{{ asset('build/bg_login.jpg') }}')">
        <nav class="navbar navbar-expand-lg navbar-transparent border-fat-bottom float-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {# --- Login/register links --- #}
            {% if not app.user %}
                <div class="ml-5 mr-5">
                    <a href="{{ path('app_security_login') }}" class="btn">Log in</a>
                </div>
            {% endif %}
            {# ----------- #}

            {% if app.user %}
                <span class="text-white">Connecté en tant que : {{ connected_user.firstname }} {{ connected_user.lastname }}</span>
                <div class="ml-3">
                    {% if is_granted('ROLE_PREMIUM') %}
                        <a href="{{ path('front_research_index') }}" class="btn">Research
                            Profil</a>
                    {% else %}
                        <a href="{{ path('front_index') }}" class="btn">Go to dashboard</a>
                    {% endif %}
                </div>
            {% endif %}
        </nav>
        <div class="container">
            <h1 class="logo"><img width="500px" src="{{ asset('build/logo_curvitae_large.png') }}"></h1>
            <div class="content">
                <h3 class="text-center text-light mb-5">LE CV EN LIGNE, TOUT SIMPLEMENT.</h3>
                <div class="row">
                    <div class="card bg-dark text-light m-5 mx-auto" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">Pas le temps de coder votre propre site ? Lassé de Linkedin et
                                Tumblr ?
                                Notre site vous permet de créer rapidement votre propre espace personnel,
                                entièrement customizable et intégrant des modules variés comme GitHub,
                                StackOverflow,
                                CodePen, JSFiddle, et bien d'autres !</p>
                            {% if not app.user %}
                                <h6 class="card-title mb-4">Vous avez déjà un compte ?</h6>
                                <a href="{{ path('app_security_login') }}" class="btn">Log in</a>
                            {% else %}
                                <h6 class="card-title mb-1">
                                    Bonjour {{ app.user.firstname }} {{ app.user.lastname }}</h6>
                                {% if is_granted('ROLE_PREMIUM') %}
                                    <p class="card-text">Bienvenue sur votre compte professionnel !</p>
                                    <a href="{{ path('front_research_index') }}" class="btn">Research
                                        Profil</a>
                                    <a href="{{ path('app_security_logout') }}"
                                       class="btn">Logout</a>
                                {% else %}
                                    <p class="card-text">Bienvenue sur votre compte développeur !</p>
                                    <a href="{{ path('front_index') }}" class="btn">Dashboard</a>
                                    <a href="{{ path('app_security_logout') }}"
                                       class="btn">Logout</a>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                    <div class="card bg-dark text-light m-5 mx-auto" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('build/developper_iconic.png') }}" alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title mb-1">Pour les developpeurs</h6>
                            <p class="card-text">Créez votre compte gratuitement, pour pouvoir profiter de notre outil
                                de création de CV
                                pensé spécialement pour les métiers de l'informatique et du numérique</p>
                            {% if not app.user %}
                                <a href="{{ path('app_security_registration') }}"
                                   class="btn">Créer un compte développeur</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card bg-dark text-light m-5 mx-auto" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('build/iconic_office_woman.jpg') }}"
                             alt="Card image cap">
                        <div class="card-body">
                            <h6 class="card-title mb-1">Pour les recruteurs</h6>
                            <p class="card-text">Souscrivez à un compte premium pour avoir directement accès à nos
                                milliers de profils.
                                Vous profiterez de notre recherche avancée intelligente pour trouver votre prochain
                                talent !</p>
                            {% if not app.user %}
                                <a href="{{ path('app_security_register_professional') }}"
                                   class="btn">Créer un compte PRO</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}