{% extends "front_base.html.twig" %}

{% block title %}Dashboard - CVBien{% endblock %}

{% block content %}
    {% if user is defined %}



        {# Display banner/pictures #}
        <div id="userBanner" class="bg-img img-fluid"
             style="background-image: url({{ vich_uploader_asset(user, 'bannerImageFile') }})">
            {# Profil picture #}
            <img id="profilePicture" class="border-fat rounded-circle profileImg mt-2"
                 src="{{ vich_uploader_asset(user, 'imageFile') }}"/>
            {# --- #}
        </div>

        <div class="height-10 bg-dark">
        </div>

        {# MODULE AREA - Zone des modules #}
        <div class="container mt-5">

            {# Import des modules #}
            <div class="grid">
                <div class="item">
                    <div class="item-content">
                        <div class="card">
                            <div class="card-header">Mes Infos</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ user.firstname }} {{ user.lastname }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ user.birthdate | date('d/m/y') }}</h6>
                                <p class="card-text">{{ user.adress }}, <br/>{{ user.cityCode }} {{ user.city }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item-content">
                        <div class="card">
                            <div class="card-header"></div>
                            <div class="card-body">
                                <p class="card-text">C du text mdr</p>
                            </div>
                        </div>
                    </div>
                </div>
                {# <div class="item">
                    <div class="item-content">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Liens</h5>
                                {% for link in user.links %}
                                    <p class="card-text"><a href="{{ link.url }}">{{ link.website }}
                                            : {{ link.username }}</p>
                                {% else %}
                                    VIDE
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>#}
            </div>
        </div>
        {# --- #}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_offline') }}
{% endblock %}