<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-fat-bottom">
    <a class="navbar-brand" href="{{ path('app_index') }}">
        <img src="{{ asset('build/cvbien_logo.png') }}" width="180"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {# --- User menu --- #}
    {% if user is defined %}
        <input id="userId" name="userId" type="hidden" value="{{ user.id }}">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">


                {# To the personnal page #}
                {% if user.spaceName is defined %}
                    <li class="nav-item active">
                        <a class="nav-link"
                           href="{{ path('app_profilView', {'spaceName': user.spaceName}) }}">Preview<span
                                    class="sr-only">(current)</span></a>
                    </li>
                {% endif %}
                {# - #}

                {# To the Default #}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('front_index') }}">Dashboard</a>
                </li>
                {# - #}

                {# Vers les recherches #}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('front_research_index') }}">Search</a>
                </li>
                {# - #}

                {# To parameters pages #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu dropdown-menu-left">
                        <a class="dropdown-item" href="{{ path('front_user_reset_password') }}">Changer mot de passe</a>
                        <a class="dropdown-item" href="{{ path('front_user_updateInfo') }}">Informations
                            personnelles</a>
                        <a class="dropdown-item" href="{{ path('front_user_pro_update') }}">Mes expériences</a>
                        <a class="dropdown-item" href="{{ path('front_user_experience_update') }}">Mes compétences</a>
                        <a class="dropdown-item" href="{{ path('front_user_diploma_update') }}">Mes diplômes</a>
                        <a class="dropdown-item" href="{{ path('front_link_index') }}">Mes comptes annexes</a>
                    </div>
                </li>
                {# - #}

            </ul>
        </div>
    {% endif %}

    {# --- Login/register links --- #}
    {% if user is not defined %}
        <div class="ml-3">
            <a class="btn btn-primary" href="{{ path('app_security_login') }}">Sign in</a>
            <a class="btn btn-outline-primary" href="{{ path('app_security_registration') }}">Sign up</a>
        </div>
    {% endif %}
    {# ----------- #}
</nav>