{% extends 'back_base.html.twig' %}

{% block title %}Diploma index{% endblock %}

{% block content %}
    <h1>Diploma index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Level</th>
                <th>IsInternational</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diploma in diplomas %}
            <tr>
                <td>{{ diploma.id }}</td>
                <td>{{ diploma.title }}</td>
                <td>{{ diploma.level }}</td>
                <td>{{ diploma.isInternational ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('back_diploma_show', {'id': diploma.id}) }}">show</a>
                    <a href="{{ path('back_diploma_edit', {'id': diploma.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_diploma_new') }}">Create new</a>
{% endblock %}
