{% extends 'back_base.html.twig' %}

{% block title %}Diploma{% endblock %}

{% block content %}
    <h1>Diploma</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diploma.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ diploma.title }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ diploma.level }}</td>
            </tr>
            <tr>
                <th>IsInternational</th>
                <td>{{ diploma.isInternational ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_diploma_index') }}">back to list</a>

    <a href="{{ path('back_diploma_edit', {'id': diploma.id}) }}">edit</a>

    {{ include('Back/diploma/_delete_form.html.twig') }}
{% endblock %}
