{% extends 'back_base.html.twig' %}

{% block title %}UserStatus index{% endblock %}

{% block content %}
    <h1>UserStatus index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user_status in user_statuses %}
            <tr>
                <td>{{ user_status.id }}</td>
                <td>{{ user_status.label }}</td>
                <td>
                    <a href="{{ path('back_user_status_show', {'id': user_status.id}) }}">show</a>
                    <a href="{{ path('back_user_status_edit', {'id': user_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_user_status_new') }}">Create new</a>
{% endblock %}
