{% extends 'back_base.html.twig' %}

{% block title %}UserProgLanguage{% endblock %}

{% block content %}
    <h1>UserProgLanguage</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user_prog_language.id }}</td>
        </tr>

        <tr>
            <th>User</th>
            <td>{{ user_prog_language.user.email }}</td>
        </tr>

        <tr>
            <th>Prog Language</th>
            <td>{{ user_prog_language.progLanguage.name }}</td>
        </tr>

        <tr>
            <th>Level</th>
            <td>{{ user_prog_language.level }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('back_user_prog_language_index') }}">back to list</a>

    <a href="{{ path('back_user_prog_language_edit', {'id': user_prog_language.id}) }}">edit</a>
{% endblock %}
