{% extends 'back_base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block content %}
    <h1>Language index</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language in languages %}
            <tr>
                <td>{{ language.id }}</td>
                <td>{{ language.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('back_language_show', {'id': language.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('back_language_edit', {'id': language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('back_language_new') }}">Create new</a>
{% endblock %}
