{% extends 'base.html.twig' %}

{% block title %}UserProgLanguage index{% endblock %}

{% block body %}
    <h1>UserProgLanguage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_prog_language in user_prog_languages %}
            <tr>
                <td>{{ user_prog_language.id }}</td>
                <td>{{ user_prog_language.level }}</td>
                <td>
                    <a href="{{ path('user_prog_language_show', {'id': user_prog_language.id}) }}">show</a>
                    <a href="{{ path('user_prog_language_edit', {'id': user_prog_language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_prog_language_new') }}">Create new</a>
{% endblock %}
