<div class="col-8">

    {{ form_start(formUserFront) }}
    <fieldset>
        <legend>Informations du compte</legend>
        {{ form_row(formUserFront.spaceName) }}
        {{ form_row(formUserFront.isActive) }}
        {{ form_row(formUserFront.isSearchable) }}
    </fieldset>

    <fieldset class="mt-5">
        <legend>Informations personnelles</legend>
        {{ form_row(formUserFront.firstname) }}
        {{ form_row(formUserFront.lastname) }}
        {{ form_row(formUserFront.birthdate) }}
    </fieldset>

    <fieldset class="mt-5">
        <legend>Contacts</legend>
        {{ form_row(formUserFront.phoneNumber) }}
        {{ form_row(formUserFront.proPhoneNumber) }}
        {{ form_row(formUserFront.adress) }}
        {{ form_row(formUserFront.cityCode) }}
        {{ form_row(formUserFront.city) }}
        {{ form_row(formUserFront.country) }}
    </fieldset>

    {#<fieldset class="mt-5">
        <legend>Informations professionnelles</legend>
        {{ form_row(formUserFront.firstname) }}
        {{ form_row(formUserFront.lastname) }}
        {{ form_row(formUserFront.spaceName) }}
    </fieldset>#}

    <button class="btn btn-primary mt-5">{{ button_label|default('Update') }}</button>
    {{ form_end(formUserFront) }}
</div>