<div class="col-3">
    <h1 class="dropdown-header">Menu</h1>

    <a class="dropdown-item" href="{{ path('front_user_reset_password') }}">Changer de mot de passe</a>
    <a class="dropdown-item" href="{{ path('front_user_updateInfo') }}">Informations personnelles</a>
    {% if not is_granted('ROLE_PREMIUM') %}
        <a class="dropdown-item" href="{{ path('front_user_pro_update') }}">Mes compétences</a>
        <a class="dropdown-item" href="{{ path('front_user_experience_update') }}">Mes expériences</a>
        <a class="dropdown-item" href="{{ path('front_user_diploma_update') }}">Mes diplômes</a>
        <a class="dropdown-item" href="{{ path('front_link_index') }}">Mes comptes annexes</a>
    {% endif %}
</div>