<div class="col-9">
        <h1>Modifier mes Diplômes <a href="#" class="btn btn-default" type="button"
                                        data-toggle="modal"
                                        data-target="#userSocietyModal"><i class="fas fa-plus-circle fa-2x"></i></a></h1>
        <div class="container">
            <div class="row">
                {% for userDiploma in user.userDiplomas %}
                    <div class="col-sm-6 col-lg-4 py-2">
                        <div class="card bg-light card h-100" style="max-width: 25rem;">
                            <div class="card-header">
                                {{ userDiploma.diploma.title }}
                                <a href="#" class="btn btn-default float-right"><i class="far fa-trash-alt"></i></a>
                                <a href="#" class="btn btn-default float-right"><i class="fas fa-edit"></i></a>
                                <br>
                                {{ userDiploma.diploma.school }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    {{ userDiploma.diploma.country.name }}
                                    {% if userDiploma.mention %}
                                        <span class="badge badge-success float-right">mention {{ userDiploma.mention }}</span>
                                    {% endif %}
                                    <br>
                                    {{ userDiploma.dateOfGrant | date("m/d/Y", "Europe/Paris") }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>