{% extends 'front_base.html.twig' %}

{% block title %}CVBien - Modifier son mot de passe{% endblock %}

{% block header %}
    {{ include('_header_dashboard.html.twig') }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-4 mb-4">
            {{ include('Front/user/_user_info_menu.html.twig') }}
            <div class="col-lg-9">
                <h1>Modifier son mot de passe</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="ml-1 mt-3 btn btn-primary">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
                <a class="ml-1 mt-3 btn btn-secondary" href="{{ path('front_index') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}
